//Please include this file in all your components to share the styles, colors and fonts.

$black: #121212;
$white: #ffffff;
$gray: #666666;
$blue: lightseagreen;
$green: lime;
$red: red;
$orange: orange;
